<div class="text-center">
  <h2>{{name}}</h2>
  <br>
  <p class="project_description">{{description}}</p>
  <p id="createdBy">Created by {{user.name}} on {{format_date date_created}}</p>
  <br>
          <button type="submit" class="btn">Update Post</button>
</div>

<script src="/js/edit-project.js"></script>
